.carousel-caption {
  position: absolute;
  top:50%;
  font-size: xx-large;
}


 @media only screen and (max-width: 600px) {
  .carousel-caption {
    // position: absolute;
    // top:50%;
    font-size: small;
  }

 }



