<div class="card-deck">
  <!-- Card -->
  <mdb-card
    style="background-image: url('https://mdbootstrap.com/img/Photos/Slides/img%20(112).jpg')"
    class="card-image mb-3 mx-2"
  >
    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-light py-5 px-4">
      <div>
        <h3 class="card-title pt-2"><strong>HCMC</strong></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,

        </p>
        <a mdbBtn color="pink" class="waves-light" mdbWavesEffect>
          Lets Go</a
        >
      </div>
    </div>
    <!-- Content -->
  </mdb-card>
  <!-- Card -->

  <!-- Card -->
  <mdb-card
    style="background-image: url('https://mdbootstrap.com/img/Photos/Slides/img%20(125).jpg')"
    class="card-image mb-3 mx-2"
  >
    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-indigo-light py-5 px-4">
      <div>

        <h3 class="card-title pt-2"><strong>Bali</strong></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,

        </p>
        <a mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect routerLink="/listings" routerLinkActive="active">
          Lets Go</a
        >
      </div>
    </div>
    <!-- Content -->
  </mdb-card>
  <!-- Card -->

    <!-- Card -->
    <mdb-card
    style="background-image: url('https://mdbootstrap.com/img/Photos/Slides/img%20(92).jpg')"
    class="card-image mb-3 mx-2"
  >
    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-light py-5 px-4">
      <div>
        <h3 class="card-title pt-2"><strong>Vietnam</strong></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,

        </p>
        <a mdbBtn color="pink" class="waves-light" mdbWavesEffect>
          Lets Go</a
        >
      </div>
    </div>
    <!-- Content -->
  </mdb-card>
  <!-- Card -->
</div>
