<!--Navbar-->
<app-navbar></app-navbar>
<!--/.Navbar-->

<!--mdb-carousel-item-->
<app-carousel></app-carousel>
<!--/mdb-carousel-item-->

<div class="jumbotron text-center hoverable p-4">
  <div class="container-fluid">
    <h1 class="display-4">OUR DESTINATIONS</h1>
    <p class="lead">Discover tours, attractions and activities for your next adventure</p>
    <div class="card-deck">
      <!-- Card -->
      <mdb-card style="background-image: url('./assets/Nelliampathy2.jpg')" class="card-image mb-3 mx-2 "
        routerLink="/nelliyampathy" routerLinkActive="active">
        <!-- Content -->
        <div class="mask flex-center waves-effect waves-light rgba-black-light">
          <div class="text-white align-items-center justify-content-center">
            <div>
              <p>&nbsp;&nbsp;</p><br>
              <p></p>
              <p>&nbsp;&nbsp;</p><br>
              <p></p>
              <h3 class="card-title pt-2"><strong>NELLIYAMPATHY</strong></h3>
              <p>&nbsp;&nbsp;</p><br>
              <p></p>
              <p>&nbsp;&nbsp;</p><br>
              <p></p>
            </div>
          </div>
        </div>
        <!-- Content -->
      </mdb-card>
      <!-- Card -->

      <!-- Card -->
      <mdb-card style="background-image: url('./assets/Munnar3.jpg')" class="card-image mb-3 mx-2"
        routerLink="/listings" routerLinkActive="active">
        <!-- Content -->
        <div class="mask flex-center waves-effect waves-light rgba-indigo-light">
          <div class="text-white text-center d-flex align-items-center">
            <div>
              <p>&nbsp;&nbsp;</p><br>
              <p></p>
              <p>&nbsp;&nbsp;</p><br>
              <p></p>

              <h3 class="card-title pt-2"><strong>MUNNAR</strong></h3>
              <p>&nbsp;&nbsp;</p><br>
              <p></p>
              <p>&nbsp;&nbsp;</p><br>
              <p></p>

            </div>
          </div>
        </div>
        <!-- Content -->
      </mdb-card>
      <!-- Card -->

      <!-- Card -->
      <mdb-card style="background-image: url('./assets/Vagamon3.jpg')" class="card-image mb-3 mx-2">
        <!-- Content -->
        <div class="mask flex-center waves-effect waves-light rgba-black-light">

          <div class="text-white text-center d-flex align-items-center">
            <div>
              <p>&nbsp;&nbsp;</p><br>
              <p></p>
              <p>&nbsp;&nbsp;</p><br>
              <p></p>
              <h3 class="card-title pt-2"><strong>VAGAMON</strong></h3>
              <p>&nbsp;&nbsp;</p><br>
              <p></p>
              <p>&nbsp;&nbsp;</p><br>
              <p></p>
            </div>
          </div>
        </div>
        <!-- Content -->
      </mdb-card>
      <!-- Card -->
    </div>
    <app-card-image-overlay></app-card-image-overlay>
    <app-card-image-overlay></app-card-image-overlay>


    <br>
  </div>
</div>

<!-- Footer -->
<app-common-footer></app-common-footer>
<!-- Footer -->
