.card-title{
  font-size: xx-large;
  // text-align: center;
  // text-anchor: middle;
}

.card-text{
  font-size: large;
  color:#888
}

.display-4{
  font-size: xx-large;
  font-weight: bold;
}
.lead {
  font-size: large;
  color:#888

}
.display-4:hover{
  color:#ff5722;

}


