.accTitleInfo,h5{
  color:#ff9800;//rgb(33, 37, 41);//rgb(66, 133, 244);
  font-size: large;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

};

.accTitleWarn{
  color:#ff9800;//rgb(33, 37, 41);//#ffbb33;
  font-size: large;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

};

.accTitleSuccess{
  color:#ff9800;//rgb(33, 37, 41);//#00c851;
  font-size: large;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

};

.bq-title{
  color: crimson;
};

.gallery{
  text-align: center;
  color:#ff9800;//rgb(33, 37, 41);//#ffbb33;
  font-size: large;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

