<footer class="page-footer font-small mdb-color darken-3 pt-4">

  <!-- Footer Elements -->
  <div class="container content center">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-3">
        <div class="mb flex-center">
          <!-- Facebook -->
          <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
          <ul style="padding:10px">
            <i class="fab fa-facebook-square fa-2x" onMouseOver="this.style.color='#3b5998'"
              onMouseOut="this.style.color='#FFF'"></i>
          </ul>
          <!-- <a class="fb-ic" > -->
          <!-- <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon> -->
          <!-- </a> -->

          <!-- Twitter -->
          <ul>
            <mdb-icon fab icon="twitter fa-2x" onMouseOver="this.style.color='#00acee'"
              onMouseOut="this.style.color='#FFF'"></mdb-icon>
          </ul>
          <!-- <a> -->
          <!-- <a class="tw-ic"> -->
          <!-- <mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon> -->
          <!-- </a> -->

          <!-- Google +-->
          <!-- <ul>
            <mdb-icon fab icon="google-plus fa-2x" onMouseOver="this.style.color='#db4a39'"
              onMouseOut="this.style.color='#FFF'"></mdb-icon>
          </ul> -->
          <!-- <a class="gplus-ic">
            <mdb-icon fab fab icon="google-plus" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a> -->

          <!--Linkedin -->
          <ul>
            <mdb-icon fab icon="linkedin-in fa-2x" onMouseOver="this.style.color='#0e76a8'"
              onMouseOut="this.style.color='#FFF'"></mdb-icon>
          </ul>
          <!-- <a class="li-ic">
            <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a> -->

          <!--Instagram-->
          <ul>
            <mdb-icon fab icon="instagram fa-2x" onMouseOver="this.style.color='#3f729b'"
              onMouseOut="this.style.color='#FFF'"></mdb-icon>
          </ul>
          <!-- <a class="ins-ic">
            <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a> -->

          <!--Pinterest-->
          <ul>
            <mdb-icon fab icon="pinterest fa-2x" onMouseOver="this.style.color='#c8232c'"
              onMouseOut="this.style.color='#FFF'"></mdb-icon>
          </ul>
          <!-- <a class="pin-ic">
            <mdb-icon fab icon="pinterest" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a> -->
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© TravellersCompany
    <!-- <a href="/home"> TravellersCompany</a> -->
  </div>
  <!-- Copyright -->

</footer>
